.title{
   text-align: center;
   margin-top: 50px;
}
.menu ul li{
list-style: none;
padding:  40px;     
}
.menu ul{
    display: flex;
    justify-content: center;
}
.menu ul li a{
    color: #bab9b9;
    text-decoration: none;
    transition: 1s;
}
.menu ul li a:hover{
color: #4581b7;
}
.header{
    text-align: center;
}
/* -----------------section start--------------  */
.section{
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content:space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section .left{
    width: 730px;
    background-color: #f0f0f0;
}
.section .right{
    width: 350px;
    background-color: #f0f0f0
}
.section .left h3{
    padding-top: 50px;
    padding-left: 40px;
    color: #4581b7;
}
.section .right h3{
    padding-top: 50px;
    padding-left: 40px;
    color: #4581b7;
}
.section .left .text{
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 95px;
    padding-bottom: 65px;
    color: #9d9d9d;
}
.section .right .text1{
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 95px;
    padding-bottom: 65px;
    color: #9d9d9d;
}
.section .right .tel{
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 95px;
    padding-bottom: 65px;
    color: #9d9d9d;  
}
.section .right .email{
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 95px;
    padding-bottom: 65px; 
    color: #9d9d9d; 
}
/* -----------------bottom start--------------  */
.bottom{
    width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bottom .text2{
   margin-top: 40px;
   color: #9d9d9d;
}
.bottom .number{
        color: #808080;
}

.bottom img{
    padding-left: 40px;
}

.bottom .text_bottom{
    padding-right: 40px;
}